<% include partials/header %>

<h1><%=screenshot.name%></h1>

<img src="<%=screenshot.image%>" style="max-width:90vw;">

<p><%=screenshot.descr%></p>
<% screenshot.comments.forEach(function(comment){ %>
    <p><strong><%=comment.author%></strong> - <%=comment.text%></p>
<% }) %>
<% include partials/footer %>
