<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align:center;">Edit <%=screenshot.name%></h1>
        <div style="width:30%; margin:30px auto;">
            <form action="/screenshots/<%=screenshot._id%>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="screenshot[name]" value="<%=screenshot.name%>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="screenshot[goldPerHour]" placeholder="<%=screenshot.goldPerHour%>" min="0" step="1">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="screenshot[image]" value="<%=screenshot.image%>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="screenshot[description]" value="<%=screenshot.description%>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/screenshots">Go Back</a>
        </div>
    </div>

</div>
<% include ../partials/footer %>
